<%= form_for @delayed_job_site, :html=> { :class => "cd-form floating-labels" } do |f| %>
  <fieldset>
    <div>
      <%= f.label :environment, :class => "cd-label" %>
      <%= f.text_field :environment, :required => true %>
    </div>
    <div>
      <%= f.label :url, :class => "cd-label" %>
      <%= f.text_field :url, :required => true %>
    </div>
    <div>
      <%= f.label :user_name, :class => "cd-label" %>
      <%= f.text_field :user_name %>
    </div>
    <div>
      <%= f.label :password, :class => "cd-label" %>
      <%= f.text_field :password %>
    </div>
    <ul class="cd-form-list">
      <li>
        <%= f.check_box :active %>
        <%= f.label :active %>
      </li>
    </ul>
    <% submit_string = @delayed_job_site.id ? "Update Delayed Job Site" : "Create Delayed Job Site" %>
    <%= f.submit :submit, :value => submit_string %>
  </fieldset>
<% end %>