<!DOCTYPE html>
<html>
  <head>
    <title>Chronus DJ</title>
    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <header>
      <a id="cd-logo" href="<%= root_path %>"><%= image_tag asset_path("cs.png") %></a>
      <nav id="cd-top-nav">
        <ul>
          <li>
            <% if current_user %>
              <a href="#"><%= current_user.name.split.map(&:capitalize).join(' ') + (logged_in_super_user? ? " (SuperUser)" : "") %></a>
            <% else %>
              <%= link_to "/auth/google_oauth2"  do %>
                <%= fa_icon "google" %>&nbsp;Login<%= " (SuperUser)" if logged_in_super_user? %>
              <% end %>
            <% end %>
            <% if current_user || logged_in_super_user? %>
              <%= link_to "Logout", logout_path %>
            <% end %>
          </li>
        </ul>
      </nav>
      <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </header>
    <main class="cd-main-content">
      <%= yield %>
    </main>

    <nav id="cd-lateral-nav">
      <ul class="cd-navigation">
        <li class="item-has-children">
          <a href="#0">Services</a>
          <ul class="sub-menu">
            <li><a href="#0">Brand</a></li>
            <li><a href="#0">Web Apps</a></li>
            <li><a href="#0">Mobile Apps</a></li>
          </ul>
        </li> <!-- item-has-children -->

        <li class="item-has-children">
          <a href="#0">Products</a>
          <ul class="sub-menu">
            <li><a href="#0">Product 1</a></li>
            <li><a href="#0">Product 2</a></li>
            <li><a href="#0">Product 3</a></li>
            <li><a href="#0">Product 4</a></li>
            <li><a href="#0">Product 5</a></li>
          </ul>
        </li> <!-- item-has-children -->

        <li class="item-has-children">
          <a href="#0">Stockists</a>
          <ul class="sub-menu">
            <li><a href="#0">London</a></li>
            <li><a href="#0">New York</a></li>
            <li><a href="#0">Milan</a></li>
            <li><a href="#0">Paris</a></li>
          </ul>
        </li> <!-- item-has-children -->
      </ul> <!-- cd-navigation -->

      <ul class="cd-navigation cd-single-item-wrapper">
        <%= link_to "Add New DJ Site", new_delayed_job_site_path, :remote => true, :class => "cd-modal-call" if logged_in_super_user? %>
        <% unless current_user %>
          <%= link_to "Login with Google", "/auth/google_oauth2" %>
        <% end %>
      </ul> <!-- cd-single-item-wrapper -->

      <div class="cd-navigation socials">
        <a class="cd-twitter cd-img-replace" href="https://twitter.com/Chronus_Inc">Twitter</a>
        <a class="cd-github cd-img-replace" href="https://github.com/ChronusCorp">Git Hub</a>
        <a class="cd-facebook cd-img-replace" href="https://www.facebook.com/pages/Chronus-Corporation/250982824916923">Facebook</a>
        <a class="cd-google cd-img-replace" href="https://plus.google.com/+Chronus">Google Plus</a>
      </div> <!-- socials -->
    </nav>


    <div class="cd-modal">
      <div class="cd-modal-container">
        <span class="cd-modal-header"></span>
        <div class="cd-modal-data"></div>
      </div>
    </div>
  </body>
</html>